.godImg { 
    width: 256px;
    height: 256px;
    max-width: 128px;
    max-height: 128px;
    margin-top: 5em;
}

.uk-card-default {
    background-color: #000000 !important;
    color: white !important;
}

.godName{
    color: #e6e7e8 !important;
}

.grid-item {
    cursor: pointer;
}