<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-center">

      <div class="uk-navbar-center-left"><div>
          <ul class="uk-navbar-nav">
              <li class="uk-navbar-item "><a routerLink="/gods">Gods</a></li>
          </ul>
      </div>
    </div>
      <a class="uk-navbar-item uk-logo" routerLink="/" uk-light>GodBuilds</a>
      <div class="uk-navbar-center-right"><div>
          <ul class="uk-navbar-nav uk-dark">
              <li class=""><a routerLink="/items">Items</a></li>
          </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>